# Ігноруємо RTF-файли
*.rtf

# Ігноруємо системні файли
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
*.tmp

# Ігноруємо IDE-файли
.idea/
*.iml
*.vscode/
*.sublime-workspace
*.sublime-project

# Ігноруємо Java / Spring файли
target/
out/
*.class
*.jar
*.war
*.ear


# Ігноруємо Python / Django файли
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
db.sqlite3

*.pot
local_settings.py
media/
staticfiles/
*.DS_Store

# Ігноруємо Node.js / JavaScript файли
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
coverage/

# Ігноруємо Web файли
*.min.js
*.min.css

# Ігноруємо додаткові файли VS Code
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace

# Ігноруємо файли Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Ігноруємо TypeScript файли
*.tsbuildinfo
*.d.ts




# Ігноруємо файли Bootstrap та інші бібліотеки
bootstrap/
lib/
vendor/

# Ігноруємо файли Maven

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


# Ігноруємо файлові системи операційної системи
*.swo
*~

# Ігноруємо файли пакетів менеджерів
.PKGINFO
.PKGMETA
*.pid
*.seed

# Ігноруємо файли журналу налагодження
*.log.*

# Ігноруємо файли середовища Java
.classpath
.project
.settings/
bin/
tmp/

# Ігноруємо файли Android
local.properties
*.hprof
*.orig

# Ігноруємо файли JavaScript
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ігноруємо файли інтегрованих середовищ розробки (IDE)
*.history/

# Ігноруємо бібліотеки сторонніх розробників
libs/
