# Core
pandas==2.2.3
numpy==1.26.4

# PyTorch
torch==2.5.0
torchvision==0.20.0

# NLP
spacy==3.8.0

# Моделі spaCy
uk-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/uk_core_news_sm-3.8.0/uk_core_news_sm-3.8.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz

# Dev utils
matplotlib==3.9.2
jupyter==1.0.0
seaborn==0.13.2  
nltk==3.8.1
transformers==4.44.0
sentencepiece==0.2.0
nlpaug
scikit-learn